recordings/small_world_flyover.mp4 filter=lfs diff=lfs merge=lfs -text
recordings/medium_world_flyover.mp4 filter=lfs diff=lfs merge=lfs -text
recordings/large_world_flyover.mp4 filter=lfs diff=lfs merge=lfs -text
